

nav.navbar.navbar-expand-md.navbar-light.bg-light.mb-4.border {
    background-color: #cfd6fa !important;
}

.dropdown-menu.show {
    background-color: #cfd6fa;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}

.main {
    margin-top: 80px;
}