{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <meta name="viewport" content="width= device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Проект "Полезные мелочи"</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light mb-4 border">
        <a class="navbar-brand" href="{% url 'main_app:index' %}">Подручные приложения</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'cost_control_project:index' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Контроль расходов
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'cost_control_project:index' %}">Общая информация</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'cost_control_project:new_category' %}">Добавить категорию</a>
                        <a class="dropdown-item" href="{% url 'cost_control_project:category_list' %}">Список категорий</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'cost_control_project:new_check' %}">Добавить чек</a>
                        <a class="dropdown-item" href="{% url 'cost_control_project:check_list' %}">Список чеков</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'cost_control_project:analyze_checks' %}">Аналитика</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">Здравствуйте, {{user.username}}.</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main role="main" class="main container" style="max-width: 1300px">
        <div class="pb-2 mb-2 border-bottom">
            {% block page_header %}{% endblock page_header %}
        </div>
        <div class="position-relative">
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>
</html>

